<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<%= link_to "Back to the restaurants list", restaurants_path(@restaurant) %>

<h2>Reviews</h2>

<ol>
  <li>
    <% @restaurant.reviews.each do |review| %>
      <p>Content: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
    <% end %>
  </li>
</ol>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
